:host {
  background-color: rgb(71, 72, 75);
  padding: 4px;
  overflow: hidden;
}

a.active {
  color: white;
}

b {
  padding: 0 4px;
}

span {
  color: white;
  display: inline-block;
  float: right;
  font-size: 9pt;
}

span a:hover {
  text-decoration: underline;
}
